* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("https://live.staticflickr.com/65535/52780840744_8bd48569aa.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Fira Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5%;
  padding-top: 20px;
}

.column1 {
  padding-right: 50px;
  font-family: "Courier New", Courier, monospace;
}

.column1 h1 {
  font-size: 60pxzzz;
  margin-bottom: 10px;
}

.column1 p {
  font-size: 25px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.column1 button {
  width: 150px;
  padding: 12px 20px;
  border-radius: 20px;
  border-style: none;
  color: blue;
  font-size: 17px;
  font-weight: 600;
}
.para::before {
  content: "\2192"; /* Unicode for right arrow */
  margin-right: 5px; /* Add some spacing between the arrow and the text */
}

/* Header content responsive */
@media screen and (max-width: 980px) {
  .column2 img {
    width: 350px;
  }
  .column1 h1 {
    font-size: 40px;
  }
  .column1 p {
    font-size: 17px;
  }
  .row {
    margin-top: 80px;
  }
}

@media screen and (max-width: 600px) {
  .column1 h1 {
    font-size: 35px;
  }
  .row {
    flex-direction: column;
  }
  .row .column1 {
    padding: 30px;
  }
}

.getstarted {
  cursor: pointer;
}

.getstarted:hover {
  background-color: #212529;
  color: #fff;
}
